<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10" IgnorableNamespaces="uap uap10 rescap com uap3 desktop">
  <Identity Name="WinUp.Passkeys" Publisher="CN=WinUp" Version="1.18.0.3" ProcessorArchitecture="neutral" />
  <Properties><DisplayName>WinUp</DisplayName><PublisherDisplayName>WinUp</PublisherDisplayName><Logo>system-passkeys\Logo.png</Logo><uap10:AllowExternalContent>true</uap10:AllowExternalContent></Properties>
  <Dependencies><TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.26100.0" MaxVersionTested="10.0.26200.0" /></Dependencies>
  <Resources><Resource Language="ru-ru" /></Resources>
  <Applications>
    <Application Id="Provider" Executable="system-passkeys\WinUp.PasskeyProvider.exe" uap10:RuntimeBehavior="win32App" uap10:TrustLevel="mediumIL">
      <uap:VisualElements DisplayName="WinUp" Description="Ключи доступа WinUp" BackgroundColor="transparent" Square150x150Logo="system-passkeys\Logo.png" Square44x44Logo="system-passkeys\Logo.png" AppListEntry="none" />
      <Extensions>
        <com:Extension Category="windows.comServer"><com:ComServer><com:ExeServer Executable="system-passkeys\WinUp.PasskeyProvider.exe" Arguments="--system-passkey" DisplayName="WinUp"><com:Class Id="3bed5836-6fa2-4af8-b271-53c727e5adb8" DisplayName="WinUp" /></com:ExeServer></com:ComServer></com:Extension>
        <uap3:Extension Category="windows.appExecutionAlias" Executable="system-passkeys\WinUp.PasskeyProvider.exe" EntryPoint="Windows.FullTrustApplication"><uap3:AppExecutionAlias><desktop:ExecutionAlias Alias="WinUp.Passkeys.exe" /></uap3:AppExecutionAlias></uap3:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities><rescap:Capability Name="runFullTrust" /><rescap:Capability Name="unvirtualizedResources" /></Capabilities>
</Package>
